<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="openCart AppTest Regression Suite" verbose="4" thread-count ="4" parallel="tests">

    <test name = "Login Page Test">
   <parameter name ="browser" value ="" />
   <parameter name ="browserversion" value ="" />
   <parameter name ="testname" value ="Login Page Test" />
        <classes>
            <class name = "com.qa.opencart.tests.LoginPageTest"/>
        </classes>
    </test>

   <!-- <test name = "Accounts Page Test">
     <parameter name ="browser" value ="" />
        <classes>
            <class name="com.qa.opencart.tests.AccountspageTest"/>
        </classes>
    </test>
-->
  <!--  <test name = "Search Page Test">
     <parameter name ="browser" value ="chrome" />     
        <classes>
            <class name= "com.qa.opencart.tests.SearchTest"/>
        </classes>
    </test>
    
     <test name = "ProductInfo Page Test">
      <parameter name ="browser" value ="edge" />     
        <classes>
            <class name= "com.qa.opencart.tests.ProductsInfoPageTest"/>
        </classes>
    </test>
    
    
     <test name = "Registration Page Test">
      <parameter name ="browser" value ="chrome" />
     
        <classes>
            <class name= "com.qa.opencart.tests.RegisterPageTest"/>
        </classes>
    </test>-->

</suite>